html {
  --dark-grey: #4a4a4a;
  --blue: #33cfce;
  --orange: #ffaa33;
  --pink: #f934aa;
  --purple: #b666c7;
  --green: #33df89;
  --yellow: #f7d633;
}

body {
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Avenir Next', sans-serif;
  color: var(--dark-grey);
}

h2 {
  margin-top: 0;
}

/* ~~~~~ CONTAINERS ~~~~~ */

.main-container,
.nav-container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 940px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* ~~~~~ NAV ~~~~~ */

.nav-button {
  border-radius: 10px;
  border: 3px solid var(--dark-grey);
  height: 40px;
  padding: 0 10px;
  font-size: 18px;
  font-weight: bold;
  color: var(--dark-grey);
}

.nav-button:hover {
  background-image: linear-gradient(
    -45deg,
    var(--pink) 25%,
    transparent 25%,
    transparent 50%,
    var(--pink) 50%,
    var(--pink) 75%,
    transparent 75%,
    transparent
  );
  background-size: 4px 4px;
}

.nav-signup-button {
  margin-left: 5px;
}

/* ~~~~~ MAIN ~~~~~ */

.top-message {
  font-size: 24px;
}

.explore-menu {
  display: flex;
  flex-direction: column;
}

.explore-title {
  font-size: 30px;
  font-weight: bold;
  margin-right: 15px;
}

.explore-filters {
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  word-spacing: 10px;
  margin: 5px 0 10px 0;
}

.explore-title-and-filters {
  display: flex;
  flex-direction: column;
}

.explore-filter-active {
  font-weight: bold;
}

.explore-search {
}

.search-form {
  display: flex;
}

.slim-button {
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  color: var(--dark-grey);
  background: none;
  border: 2px solid var(--dark-grey);
  border-radius: 8px;
}

.search-button {
  margin-left: 5px;
}

.search-button:hover {
  background-image: linear-gradient(
    -45deg,
    var(--pink) 25%,
    transparent 25%,
    transparent 50%,
    var(--pink) 50%,
    var(--pink) 75%,
    transparent 75%,
    transparent
  );
  background-size: 4px 4px;
}

.input-box {
  font-size: 14px;
  flex: 1;
  height: 30px;
  padding: 0 8px;
  border: 2px solid var(--dark-grey);
  border-radius: 8px;
  -webkit-appearance: none;
  -webkit-border-radius: 8px;
}

.clear-search-results-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.clear-search-results {
  margin-top: 5px;
  margin-bottom: -10px;
  border: 1px solid var(--dark-grey);
  border-radius: 50%;
  padding: 2px 2px 2px 2px;
  width: 14px;
  height: 14px;
  line-height: 14px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  display: none;
}

@media only screen and (min-width: 620px) {
  .explore-title-and-filters {
    flex-direction: row;
    align-items: baseline;
  }

  .explore-filters {
    font-size: 18px;
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 815px) {
  .explore-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .explore-title {
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
  }

  .explore-filters {
    display: inline-block;
    margin: 0;
  }

  .search-input {
    width: 200px;
  }
}

/* ~~~~~ COURSE GRID ~~~~~ */

.course-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
}

.course-grid-tile {
  border: 3px solid var(--dark-grey);
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.course-grid-tile-title {
  font-size: 24px;
  font-weight: bold;
}

.course-grid-tile-author {
  font-size: 18px;
}

.course-grid-enroll-button {
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  color: var(--dark-grey);
  background: white;
  border: 3px solid var(--dark-grey);
  border-radius: 8px;
}

.course-grid-students-count {
  font-size: 18px;
  font-weight: bold;
}

.course-grid-info-container {
  /* might not need this */
}

.course-grid-enroll-container {
  display: flex;
  align-items: flex-end;
}

@media only screen and (min-width: 620px) {
  .course-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 815px) {
  .course-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* ~~~~~ TILE COLORS ~~~~~ */

.blue-tile {
  background-color: var(--blue);
}

.orange-tile {
  background-color: var(--orange);
}

.pink-tile {
  background-color: var(--pink);
}

.purple-tile {
  background-color: var(--purple);
}

.green-tile {
  background-color: var(--green);
}

.yellow-tile {
  background-color: var(--yellow);
}

/* ~~~~~ MODALS ~~~~~ */

.signup-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.7);
  display: none;
}

.signup-modal-content {
  width: 385px;
  border: 3px solid var(--dark-grey);
  border-radius: 8px;
  background-color: white;
  padding: 20px;
  margin: 80px auto;
}

.signup-email {
}

.signup-form {
  margin: 5px 0;
}

.signup-form-field {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.signup-input-box {
  margin-left: 5px;
}

.signup-submit-button {
  margin-top: 10px;
}

.signup-submit-button-container {
  display: flex;
  justify-content: flex-end;
}