html {
  --dark-grey: #4a4a4a;
  --light-grey: #9B9B9B;
  --very-light-grey: #F0F0F0;
  --blue: #5EA3E7;
  --dark-blue: #0A71DE;
  --orange: #ffaa33;
  --dark-orange: #FF9503;
  --pink: #f934aa;
  --dark-pink: #F80294;
  --purple: #A084D1;
  --dark-purple: #6C3FB9;
  --green: #5AE69F;
  --dark-green: #02DA6C;
  --yellow: #f7d633;
  --dark-yellow: #F5CC03;
  --teal: #33cfce;
  --dark-teal: #01C4C3;
}

body {
  font-family: 'Avenir Next', sans-serif;
  color: var(--dark-grey);
  /*background-color: #fbfbfb;*/
}

h2 {
  margin-top: 0;
}

button {
  cursor: pointer;
}

hr {
  border-top: 1px solid var(--light-grey);
}

p {
  font-size: 22px;
  line-height: 30px;
}

a {
  text-decoration: none;
  color: var(--dark-grey);
}

/* ~~~~~ CONTAINERS ~~~~~ */

.main-container,
.nav-container {
  margin: 0 auto 30px auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 940px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

/* ~~~~~ NAV ~~~~~ */
.nav-left {
  display: flex;
  align-items: center;
}

.nav-button {
  border-radius: 10px;
  border: 3px solid var(--dark-grey);
  height: 40px;
  padding: 0 10px;
  font-size: 18px;
  font-weight: bold;
  color: var(--dark-grey);
}

.nav-button:hover,
.crosshatch-on-hover:hover {
  background-image: linear-gradient(
    -45deg,
    var(--light-grey) 25%,
    transparent 25%,
    transparent 50%,
    var(--light-grey) 50%,
    var(--light-grey) 75%,
    transparent 75%,
    transparent
  );
  background-size: 4px 4px;
}

.logo {
  box-sizing: border-box;
  border: 3px solid var(--dark-grey);
  border-radius: 10px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: flex-end;
  margin-right: 6px;
  cursor: pointer;
}

.logo-left-half {
  width: 16px;
  border-radius: 8px 0 0 8px;
}

.logo-right-half {
  border-radius: 0 8px 8px 0;
  border-left: 3px solid var(--dark-grey);
  width: 15px;
  height: 100%;
}

.logo-top-right {
  border-bottom: 3px solid var(--dark-grey);
  height: calc(31px / 2);
  width: 100%;
  border-radius: 0 8px 0 0;
}

.nav-left:hover .logo-left-half {
  /*background-color: var(--pink);*/
  background-image: linear-gradient(
    -45deg,
    var(--purple) 25%,
    transparent 25%,
    transparent 50%,
    var(--purple) 50%,
    var(--purple) 75%,
    transparent 75%,
    transparent
  );
  background-size: 4px 4px;
}

.nav-left:hover .logo-right-half  {
  /*background-color: var(--yellow);*/
  background-image: linear-gradient(
    -45deg,
    var(--yellow) 25%,
    transparent 25%,
    transparent 50%,
    var(--yellow) 50%,
    var(--yellow) 75%,
    transparent 75%,
    transparent
  );
  background-size: 4px 4px;
}

.nav-left:hover .logo-top-right {
  /*background-color: var(--blue);*/
  background-image: linear-gradient(
    -45deg,
    var(--pink) 25%,
    transparent 25%,
    transparent 50%,
    var(--pink) 50%,
    var(--pink) 75%,
    transparent 75%,
    transparent
  );
  background-size: 4px 4px;
}

.brand-name {
  /*font-family: Consolas, sans-serif;*/
  font-weight: bold;
  font-size: 15px;
  line-height: 19px;
  height: 40px;
  width: 60px;
  margin-top: 5px;
  /*margin-top: 5px;*/
  text-transform: uppercase;
  text-align: center;
}

.brand-name-second-word {
  /*letter-spacing: 0.05em;*/
}

.nav-signup-button {
  margin-left: 5px;
}

.nav-home {
  margin-right: 5px;
}

.sign-in-log-in {
  display: none;
}

.nav-create {
  display: none;
  /*font-family: Consolas, sans-serif;*/
  /*padding-top: 5px;*/
}

.nav-user-profile-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 3px solid var(--dark-grey);
  margin-left: 5px;
}

.nav-user-profile {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 400px) {
  .nav-profile-button {
    display: none;
  }
}

/* ~~~~~ MAIN ~~~~~ */

.welcome-message {
  display: none;
}

.top-message {
  font-size: 26px;
}

.explore-menu {
  display: flex;
  flex-direction: column;
}

.explore-title {
  font-size: 30px;
  font-weight: bold;
  margin-right: 15px;
  cursor: pointer;
}

.explore-filters {
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  word-spacing: 10px;
  margin: 5px 0 10px 0;
}

.explore-filter {
  cursor: pointer;
}

.explore-title-and-filters {
  display: flex;
  flex-direction: column;
}

.explore-filter-active {
  font-weight: bold;
}

.explore-search {
}

.search-form {
  display: flex;
}

.slim-button {
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  color: var(--dark-grey);
  background: none;
  border: 2px solid var(--dark-grey);
  border-radius: 8px;
}

.search-button {
  margin-left: 5px;
}

.input-box {
  font-size: 14px;
  height: 30px;
  padding: 0 8px;
  border: 2px solid var(--dark-grey);
  border-radius: 8px;
  -webkit-appearance: none;
  -webkit-border-radius: 8px;
}

.search-input {
  flex: 1;
}

.clear-search-results-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.clear-search-results {
  margin-top: 5px;
  margin-bottom: -10px;
  display: none;
}

.close-button {
  border: 2px solid var(--dark-grey);
  border-radius: 50%;
  padding: 2px 2px 1px 2px;
  width: 14px;
  height: 14px;
  line-height: 14px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  background-color: white;
}

@media only screen and (min-width: 620px) {
  .explore-title-and-filters {
    flex-direction: row;
    align-items: baseline;
  }

  .explore-filters {
    font-size: 18px;
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 815px) {
  .explore-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .explore-title {
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
  }

  .explore-filters {
    display: inline-block;
    margin: 0;
  }

  .search-input {
    width: 200px;
  }
}

/* ~~~~~ COURSE GRID ~~~~~ */

.course-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
}

.course-grid-tile {
  border: 3px solid var(--dark-grey);
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.course-grid-tile-title {
  font-size: 24px;
  font-weight: bold;
}

.course-grid-tile-author {
  font-size: 18px;
}

.course-grid-enroll-button {
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  color: var(--dark-grey);
  background: white;
  border: 3px solid var(--dark-grey);
  border-radius: 8px;
  padding-top: 0;
}

.course-grid-enroll-button:hover span {
  display: none;
}

.course-grid-enroll-button:hover:before {
  content: 'Enroll \1F525';
}

.course-grid-students-count {
  font-size: 18px;
  font-weight: bold;
}

.course-grid-info-container {
  /* might not need this */
}

.course-grid-enroll-container {
  display: flex;
  align-items: flex-end;
}

@media only screen and (min-width: 620px) {
  .course-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 855px) {
  .course-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* ~~~~~ TILE COLORS ~~~~~ */

.blue-tile {
  background-color: var(--blue);
}

.orange-tile {
  background-color: var(--orange);
}

.pink-tile {
  background-color: var(--pink);
}

.purple-tile {
  background-color: var(--purple);
}

.green-tile {
  background-color: var(--green);
}

.yellow-tile {
  background-color: var(--yellow);
}

.teal-tile {
  background-color: var(--teal);
}

/* ~~~~~ MODALS ~~~~~ */

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.5);
  display: none;
}

.modal-content {
  display: none;
  width: 385px;
  border-radius: 8px;
  background-color: white;
  padding: 30px;
  margin: 80px auto;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.signup-form {
  margin-top: 30px;
}

.modal-form-field {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-input-box {
  margin-left: 5px;
  width: 270px;
}

.modal-submit-button {
  margin-top: 10px;
}

.modal-submit-button-container {
  display: flex;
  justify-content: flex-end;
}

.modal-title-and-close-button {
  display: flex;
  justify-content: space-between;
}

.login-modal-title-and-close {
  margin-bottom: -15px;
}

/* ~~~~~ my courses ~~~~~~ */

.my-courses {
  display: none;
}

.my-courses-title {
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.smiley {
  font-size: 14px;
}

.my-course-list {
  margin: -10px 0 20px 0;
}

.course-progress-tile {
  border: 3px solid var(--dark-grey);
  border-radius: 8px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.course-progress-title-and-author {
  width: 350px;
}

.course-progress-title {
  font-size: 24px;
  font-weight: bold;
}

.course-progress-author {
  font-size: 18px;
}

.course-progress-bar-and-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.course-progress-bar-index {
}

.course-progress-bar {
  width: 100%;
  height: 40px;
  border: 3px solid var(--dark-grey);
  border-radius: 8px;
  margin-bottom: 8px;
  font-size: 16px;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: linear-gradient(
    -45deg,
    var(--dark-grey) 25%,
    transparent 25%,
    transparent 50%,
    var(--dark-grey) 50%,
    var(--dark-grey) 75%,
    transparent 75%,
    transparent
  );
  background-size: 4px 4px;
}

.course-progress-bar-shader {
  height: 100%;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  animation-duration: 2s;
  animation-name: expandBar;
}

@keyframes expandBar {
  0% { width: 0; }
}

.percent-complete {
  color: white;
  white-space: nowrap;
}

.resume-button,
.share-button,
.discuss-button {
  border: 3px solid var(--dark-grey);
  border-radius: 8px;
  height: 40px;
  color: var(--dark-grey);
  font-size: 16px;
  font-weight: bold;
  background: white;
  padding-top: 0;
}

.resume-button:hover span {
  display: none;
}

.resume-button:hover:after {
  content: 'Resume \1F4D6';
}

.share-button:hover span {
  display: none;
}

.share-button:hover:after {
  content: 'Share \1F49B';
}

/* ~~~~~ PREVIOUS NEXT ~~~~~~ */

.previous-next {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.previous-container,
.next-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--light-grey);
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

.previous-button,
.next-button {
  font-size: 30px;
  font-weight: normal;
  color: var(--light-grey);
  border: 2px solid var(--light-grey);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  line-height: 21px;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.previous-button {
  margin-right: 10px;
  padding: 0 1px 0 0;
}

.next-button {
  margin-left: 10px;
  padding: 0 0 0 1px;
}

/* ~~~~~ Course Content ~~~~~ */

.current-lesson {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.part-title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 15px;
}

.mark-as-completed-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.mark-as-completed-button {
  width: 215px;
}

.tall-button {
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  color: var(--dark-grey);
  background: none;
  border: 2px solid var(--dark-grey);
  border-radius: 8px;
}

/* ~~~~~ SIDEBAR ~~~~~ */

.sidebar-container {
  position: relative;
}

.sidebar-wrapper {
  position: fixed;
  left: 20px;
}

.sidebar {
  width: 300px;
  border: 3px solid var(--dark-grey);
  border-radius: 8px;
  position: fixed;
  top: 142px;
  bottom: 20px;
  background-color: white;
}

.sidebar-course-info {
  border: 3px solid var(--dark-grey);
  border-radius: 8px;
  margin: -3px;
  padding: 5px;
}

.course-progress-bar-sidebar {
  box-sizing: border-box;
}

.sidebar-course-progress-buttons {
  display: flex;
  justify-content: flex-end;
}

.sidebar-course-title {
  font-size: 22px;
  font-weight: bold;
}

.sidebar-course-author {
  font-size: 18px;
  margin-bottom: 5px;
}

.sidebar-table-of-contents {
  padding: 10px;
  width: 280px;
  position: absolute;
  overflow: auto;
  /* need to set this top property with jquery e.g. $(".flight_no, .price").css("height", $(".legs").height());*/
  top: 190px;
  bottom: 3px;
}

.sidebar-lesson-number,
.sidebar-part-number {
  font-size: 16px;
  font-weight: bold;
  color: var(--light-grey);
}

.sidebar-lesson-title {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.sidebar-part {
  font-size: 18px;
  cursor: pointer;
  padding: 0 5px;
  margin: 0 -5px 5px -5px;
}

.sidebar-part:hover {
  border-radius: 5px;
  background-color: var(--very-light-grey);
}

.sidebar-part-highlighted {
  border-radius: 5px;
  background-color: var(--very-light-grey);
}

.sidebar-part-group {
  margin-bottom: 15px;
}

.close-sidebar-button {
  position: fixed;
  /*bottom: 75px;*/
  top: 115px;
}

.close-sidebar-button-container {
  width: 306px;
  display: flex;
  justify-content: flex-end;
}

.expand-sidebar-desktop {
  position: fixed;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 75px;
  border: 3px solid var(--dark-grey);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  padding-bottom: 6px;
  cursor: pointer;
}

.expand-sidebar-mobile {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 75px;
  height: 25px;
  font-size: 16px;
  font-weight: bold;
  border: 3px solid var(--dark-grey);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.expand-sidebar-desktop-wrapper {
 display: none;
}

.sidebar-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.sidebar-enroll-button {
  margin-right: 5px;
}

.sidebar-button-container-wrapper {
  display: none;
}

@media only screen and (min-width: 1000px) {
  .expand-sidebar-mobile-wrapper {
   display: none;
  }

  .expand-sidebar-desktop-wrapper {
    display: flex;
  }

  .sidebar {
    bottom: 100px;
  }
}

@media only screen and (min-width: 1630px) {
  .sidebar-wrapper {
    position: absolute;
    left: -336px;
  }
}

@media screen and (max-height: 700px) {
  .sidebar {
    bottom: 20px;
  }
}

/* ~~~~~ CREATE ~~~~~ */

.sidebar-create-color-picker {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
  margin: 15px 0 5px 0;
}

.sidebar-create-color-picker-tile {
  border: 3px solid var(--dark-grey);
  border-radius: 8px;
  height: 30px;
  cursor: pointer;
}

.sidebar-create-color-picker-tile:hover,
.sidebar-create-color-picker-tile-selected {
  background-image: linear-gradient(
    -45deg,
    var(--dark-grey) 25%,
    transparent 25%,
    transparent 50%,
    var(--dark-grey) 50%,
    var(--dark-grey) 75%,
    transparent 75%,
    transparent
  );
  background-size: 4px 4px;
}

.pick-to-edit {
  margin-top: 35px;
  display: none;
}

.pick-to-edit-title {
  font-size: 36px;
  font-weight: bold;
  margin-top: 68px;
}

/* ~~~~~ CREATE DROPDOWN ~~~~~ */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 130px;
  overflow: auto;
  z-index: 1;
  border: 3px solid var(--dark-grey);
  border-radius: 8px;
  margin-top: 5px;
  font-size: 16px;
  font-weight: bold;
  background-color: white;
}

.dropdown-content a {
  text-decoration: none;
  display: block;
  padding: 5px 10px;
}

.dropdown a:hover {
  background-color: var(--very-light-grey);
}

.create-dropdown-new-course {
  border-bottom: 1px solid var(--dark-grey);
}

.preview-button,
.publish-button,
.delete-button {
  height: 30px;
  font-size: 13px;
  font-weight: bold;
  color: var(--dark-grey);
  background: white;
  border: 3px solid var(--dark-grey);
  border-radius: 8px;
  padding-top: 0;
  box-sizing: content-box;
}

.sidebar-button-container-create {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

textarea.part-title {
  width: 100%;
  height: 43px;
  color: var(--dark-grey);
  margin-bottom: 0;
  border-radius: 8px;
  padding: 5px 10px;
  resize: vertical;
  box-sizing: border-box;
}

textarea.part-content {
  width: 100%;
  height: 300px;
  font-size: inherit;
  color: var(--dark-grey);
  border-radius: 8px;
  padding: 10px;
  resize: vertical;
  box-sizing: border-box;
  margin-bottom: 10px;
}